@page
@model SportBet.Razar.Pages.BetCards.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BetCard[0].BetAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BetCard[0].WonAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BetCard[0].BetDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BetCard[0].MatchSelection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BetCard[0].MatchType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BetCard[0].Person)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BetCard) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BetAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WonAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BetDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatchSelection.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatchType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.FirstName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BetCardId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BetCardId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BetCardId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
