@page
@model SportBet.Razar.Pages.Results.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BetResult[0].Outcome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BetResult[0].ResultDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BetResult[0].Match.HomeTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BetResult[0].Match.AwayTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BetResult[0].MatchSelection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BetResult[0].MatchType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BetResult) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Outcome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResultDate)
            </td>
            <td>
                     @Html.DisplayFor(modelItem => item.Match.HomeTeam.ShortName)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Match.AwayTeam.ShortName)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatchSelection.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatchType.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BetResultId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BetResultId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BetResultId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
