@page
@model SportBet.Razar.Pages.Rewards.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reward[0].Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reward[0].RewardDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reward[0].BetCard)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Reward) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RewardDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BetCard.BetCardId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RewardId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.RewardId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.RewardId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
