@page
@model SportBet.Razar.Pages.MatchSelect.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MatchSelection[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatchSelection[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatchSelection[0].IsEnabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatchSelection[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatchSelection[0].ActiveUntil)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MatchSelection) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsEnabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActiveUntil)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MatchSelectionId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MatchSelectionId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MatchSelectionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
